:root {
    --portfolio-header-stroke: #ECECEC;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --primary-white-color: #ffffff;
    --black-color: #000000;
    --background-secondary-color: #F5F4FA;
    --background-accent-color: #2F303A;
    --background-hero-color: #C4C4C4;;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --footer-subscribe-border: rgba(255, 255, 255, 0.3);
    --card-border: #EEEEEE;
    --icon-social: #AFB1B8;
    --icon-footer-social-bgc: rgba(255, 255, 255, 0.1);
    --portfolio-card-hover: rgba(33, 150, 243, 0.9);
    --about-overlay: rgba(47, 48, 58, 0.8);
    --modal-cls-btn: rgba(0, 0, 0, 0.1);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --textarea-color: rgba(117, 117, 117, 0.5);
    --textarea-text-color: rgb(117, 117, 117);

    --cubic: cubic-bezier(0.4, 0, 0.2, 1);

   
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


.logo {
   padding-top: 24px;
   padding-bottom: 24px;
   
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

}

.logo-header {
    color: var(--black-color);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;

}

/* Site nav */

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-flex {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item {
    position: relative;
}

.site-nav .item+.item{
    margin-left: 50px;
}

.site-nav .link,
.contacts-header {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--cubic);

    outline: transparent;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header:hover,
.contacts-header:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.row-accent::after {
    content: "";
    position: absolute;
    display: block;

    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px; 

    background-color: var(--accent-color);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;

    transition: opacity 250ms var(--cubic);

}

.row-accent.current::after,
.row-accent:hover::after,
.row-accent:focus::after {
    opacity: 1;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .contacts-header+.contacts-header {
    margin-left: 30px;
    margin-right: 0;
}

.contacts-header {    
    display: flex;
    align-items: center;

    color: var(--primary-text-color);

}

.container {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.icon-mail,
.icon-phone {
    margin-right: 10px;
    fill: currentColor;
}


/* Hero */

.hero {

    text-align: center;

}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.btn-main {
    display: inline-block;
    
    padding: 10px 0;
    min-width: 216px;
    min-height: 50px;
    text-align: center;

    border-radius: 4px;
    border-width: 0;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    outline: transparent;
    
}

.hero-overlay {
    margin: 0 auto;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url('../images/hero.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-hero-color);
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 1px solid tomato; */
}

.section.non-padding {
    padding-top: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Features */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-list .item {
    width: 270px;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.feature-list .text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}

.feature-list .item::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--background-secondary-color);
    border-radius: 4px;

    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;

    /* outline: 1px solid tomato; */
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}


/* Work description */

.about {
    display: flex;
    justify-content: space-between;
}

.about .item {
    position: relative;
}

.about-overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 370px;
    height: 70px;
    padding: 27px 0;
    background: var(--about-overlay);
}

.overlay-text {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

/* Team */

.team {
    display: flex;
    justify-content: space-between;
}

.team img,
.about img {
    display: block;
}

.team .item {
    width: 270px;

    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
}

.team-bgcolor {
    background-color: var(--background-secondary-color);
}

.team-name {
    padding: 30px 32px;
}

.team .title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
    text-align: center;
}

.team .text {
    margin: 0 0 16px 0;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team .shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.socials-list{
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.social-item {
    flex-basis: calc((100%-10px*3)/4);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: var(--icon-social);

    transition: background-color 250ms var(--cubic), 
    color 250ms var(--cubic);

    outline: transparent;
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Клієнти */

.clients-list {
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

.clients-item {
    flex-basis: calc((100%-30px*5)/6);
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid var(--icon-social);
    border-radius: 4px;
    color: var(--icon-social);

    transition: border-color 250ms var(--cubic), 
    color 250ms var(--cubic);

    outline: transparent;
    
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Footer */

.bg-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-accent-color);
}

.logo.mrg-logo {
    padding: 0;
}

.contacts-list {
    display: block;
    margin-top: 20px;
    min-width: 210px;
}

.logo-footer {
    color: var(--primary-white-color);
}

.adr-footer,
.contacts-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
    text-decoration: none;

    transition: color 250ms var(--cubic);
}

.contacts-footer {
    display: block;
    margin-top: 9px;

    color: var(--contacts-footer-color);

    transition: color 250ms var(--cubic);
}

.contacts-footer:hover,
.contacts-footer:focus,
.adr-footer:hover,
.adr-footer:focus {
    color: var(--accent-color);
}

.footer-title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}


.footer-social-list {
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.footer-social-item {
    flex-basis: calc((100%-10px*3)/4);

}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: var(--primary-white-color);
    background-color: var(--icon-footer-social-bgc);

    transition: background-color 250ms var(--cubic);

    outline: transparent;
}

.footer-social-icon {
    fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.footer-subscribe {
    display: block;
 }

.subscribe-form {
    display: flex;
    
}

.subscribe-input {
    width: 358px;
    height: 50px;

    padding: 15px 16px;
    margin-right: 12px;

    border: 1px solid var(--footer-subscribe-border);
    box-shadow: var(--btn-shadow);
    border-radius: 4px;
    background-color: transparent;

    outline: transparent;
    
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    transition: border 250ms var(--cubic);
}

.subscribe-input:focus,
.subscribe-input:hover {
    border: 1px solid var(--accent-color);
}



.subscribe-btn {
    position: relative;
    display: flex;
    align-items: center;

    min-width: 200px;
    padding: 10px 32px;
    
    transition: background-color 250ms var(--cubic);
}

.subscribe-icon {
    position: absolute;

    right: 28px;
    margin-left: 10px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--accent-color-hover);
}

.footer-wraper {
    display: flex;
    align-items: baseline;
    gap: 93px;
}

/* МОДАЛЬНЕ ВІКНО */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 1;
    visibility: visible;

    background-color: rgba(0, 0, 0, 0.2);

    transition: visibility 250ms, opacity 250ms var(--cubic);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;

    min-width: 530px;
    min-height: 580px;
    padding: 40px;

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--modal-cls-btn);
    background-color: var(--primary-white-color);
    cursor: pointer;

    
}

.icon-modal-close {
    fill: var(--black-color);

    transition: fill 250ms var(--cubic);
}

.icon-modal-close:hover,
.icon-modal-close:focus {
    fill: var(--accent-color);
}

.modal-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 448px;
}

.modal-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}

.field-label {
    display: block;
    padding-bottom: 4px;
    margin: 0;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.field {
    position: relative;
    margin-bottom: 10px;
}

.field-input {
    height: 40px;
    width: 100%;
    padding: 12px 12px 12px 42px;

    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    outline: transparent;

    transition: border 250ms var(--cubic);

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textarea-text-color);
}

.field-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: var(--title-text-color);

    transition: border 250ms var(--cubic),
    fill 250ms var(--cubic);
}

.field-input:focus {
    border: 1px solid var(--accent-color);
}

.field-input:focus + .field-icon {
    fill: var(--accent-color);
}

.modal-form textarea {
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    opacity: 1;
    outline: transparent;

    transition: border 250ms var(--cubic);

}

.modal-form textarea:focus {
    border: 1px solid var(--accent-color);
}

.field-checkbox {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox-icon {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px; */

   position: relative;
    top: 2px;
    flex-shrink: 0;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    fill: transparent;

    transition: border-color 250ms var(--cubic),
    background-image 250ms var(--cubic),
    background-repeat 250ms var(--cubic),
    background-size 250ms var(--cubic),
    background-origin 250ms var(--cubic);
}

.policy-checkbox:checked + .form-policy .checkbox-icon {
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.form-policy {

    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;

    line-height: 1.71;
    letter-spacing: 0.01em;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
}

.policy-link {
    color: var(--accent-color);
}

.checkbox-text {
    margin-left: 8px;
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    min-width: 200px;
    
    transition: background-color 250ms var(--cubic);
}

.modal-btn:hover {
    background-color: var(--accent-color-hover);
}


/* страница Портфоліо */

.header-stroke {
    border-top: 1px solid var(--portfolio-header-stroke);
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.btn-list .item + .item {
    margin-left: 8px;
}

.btn-filter {
    padding: 6px 25px;
    min-width: 73px;
    text-align: center;

    color: var(--title-text-color);
    background-color: var(--background-secondary-color);
    border-width: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms var(--cubic), 
    color 250ms var(--cubic), 
    box-shadow 250ms var(--cubic);
    
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work-list .title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.work-list .text {
    margin: 0;  

    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.work-list .item {
    flex-basis: calc((100% - 60px)/3);
}

.card {
    transition: box-shadow 250ms var(--cubic);
}

.card-img {
    display: block;
}

.border-card {
    border: 1px solid var(--card-border);
    border-top: none;
    padding: 20px 0 20px 24px;
}

.work-list .card:hover,
.work-list .card:focus {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

    
}

.portfolio-link {
    display: flex;
    flex-direction:column;

    text-decoration: none;
    outline: transparent;

}

.portfolio-card-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    bottom: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic);

    padding: 63px 24px;

    background-color: var(--portfolio-card-hover);
}

.portfolio-link:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-overlay > p {
    padding: 0;
    margin: 0;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

}

.portfolio-overlay-text {
    font-size: 16px;
    line-height: 1.88;
}




/* цвета на странице Студія

логотип в хедере #2196F3 #000000

ссілки в хедере #212121; при наведении #2196F3
почта в хедере color: #757575; при наведении #2196F3 
телефон в хедере color: #757575; при наведении #2196F3

заголовки color: #212121; 

основной текст color: #757575;

логотип в футере #2196F3 #FFFFFF
адрес в футере #FFFFFF
мейл и телефон в футере color: rgba(255, 255, 255, 0.6);

цвет фона background: #FFFFFF;
вторичный цвет фона background: #F5F4FA;
темный цвет фона background: #2F303A;

*/