// TEAM

.social {
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.social__item {
    flex-basis: calc((100% - 10px*3)/4);
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: var(--icon-social);

    transition: background-color 250ms var(--cubic),
        color 250ms var(--cubic);
}

.social__icon {
    fill: currentColor;
}

.social__link:hover,
.social__link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

// FOOTER

.footer__social-link {

    color: var(--primary-white-color);
    background-color: var(--icon-footer-social-bgc);

    transition: background-color 250ms var(--cubic);
}

.footer__icon {
    fill: currentColor;
}
